.root {
	font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
	text-align: center;

	h1 {
		font-size: 48px;
	}

	span {
		font-size: 24px;
		color: #646464;
	}

	.container {
		width: 1200px;
		height: 100%;
		margin: 0 auto;
		padding-top: 300px;
		padding-bottom: 110px;
		position: relative;
		text-align: left;

		.voltran {
			position: absolute;
			top: 100px;
			right: 0;
			transform: rotate(-15deg);
    	opacity: 0.3;
		}

		.title {
			font-size: 18px;
			font-weight: bold;
			color: #000;
		}

		.lorem {
			padding-top: 16px;
			font-size: 13px;
			color: #000;
		}

		.code {
			width: 300px;
			margin-top: 24px;
			padding: 16px;
			background-color: #f1f1f1;
			border: ddd;
			font-size: 14px;

			i {
				font-style: normal;
				color: red;

				&.blue {
					color: blue;
				}
			}
		}
	}
}
